@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 스타일 */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}
/* color: red -> 상속 가능 */
/* box-sizing: border-box -> 상속 불가능 */

/* 본문스타일 */
body {
  background: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, 
  system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", 
  "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 100;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background: #fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px;
}

.member { 
  background-color: pink;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* .member li::before{
  content: "\e800";
  font-family: fontello;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
} */

/* :before / ::before => first child */
/* :after / ::after=> last child */

/* 겹침 cascading */
/* 선택자의 우선순위 규칙 */
/* li (type selector) -1점 */
/* first (class selector) -10점 */
/* #item (ID selector) -100점 */

/* .member -10점, li -1점, ::before -1점 =12점 */
/* .member li::before {
  content: ":";
} */

/* li -1점, .first -10점, ::before -1점 =11점 */
/* .member .first::before {
  content: "첫번째 자식요소를 생성합니다.";
} */
/* .member li:first-child::before {
  content: "";
} */
/* .member li:nth-child(n+2)::before {
  content: ":";
  background-color: skyblue;
} */

/* 비주얼 */
.visual{
  background: orange;
  height: 10vh;
}
/* 메인 */
.main{
  background: lightgreen;
  border-top: 1px solid red;
  /* min-height: 450px; */
  position: absolute;
  /*display: flex;
  flex-direction: flex;
  flex-wrap: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;*/
}
.group {
  height: 100px;
}
.group1{
  background-color: violet;
  width: 250px;
  float: right;
}
.group2{
  background-color: salmon;
  width: 380px;
  float: right;
}
.group3{
  background-color: gold;
  /* flex-grow: 1; */
  width: 190px;
  float: right;
}

/* 슬로건 */
.slogan{
  background: skyblue;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer{
  background: gray;
  height: 15vh;
  margin: 0 auto;
}
.footer-inner{
  background: silver;
  height: 15vh;
  position: relative;
  top: -10px;
  left: -10;
}